@{
    ViewData["Title"] = "Load From Json";
}

<div class="text-center">
    <h1 class="display-4">Upload Book List JSON</h1>

    <form asp-action="LoadFromJson" enctype="multipart/form-data" method="post">

        <div class="form-group">
            <label for="jsonFile">Choose a JSON:</label> 
            <input type="file" id="jsonFile" accept="application/json" class="form-control" name="jsonFile" accept=".json" required />
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>

     </form>

</div>

