@{
    ViewData["Title"] = "Save To Json Page";
}

<div class="container mt-4" style="display:flex; flex-direction: column; align-items:center; justify-content:space-around; height: 200px; width: 100vw">
    
    <h1 class="display-4">Convert Book List</h1>

    <label for="avatar">Choose a JSON:</label>
    <a href="@Url.Action("Convert", "Book")" class="btn btn-primary btn-sm">Convert</a>

    <a href="@Url.Action("Download", "Book")" class="btn btn-primary btn-sm">Download</a>

</div>

